.parent{
    display: grid; 
    grid-template-columns: 8  ;
    grid-template-rows: 8  ;
    align-content: stretch;
}
.div1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.div2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:  2; 
}
.div3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  
}
.div4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.div5{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.div6{
    grid-column-start: 6 ;
    grid-column-end: 7;
    grid-row-start: 1 ;
    grid-row-end: 2;
}
.div7{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.div8{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
.image1{
    width: 100px; 
    height: 100px;
    top: 100px;
    left: 100px;
    border: 1px;
    padding: 67px 67px 67px 67px;
}
.image2{
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    border: 1px;
    padding: 67px 67px 67px 67px;
}
.image3{
    width: 100px;
    height: 100px;
    top: 100px;
    left:100px;
    border: 1px;
    padding: 67px 67px 67px 67px;
}
.image4{
    width: 100px;
    height: 100px;
    top: 100px;
    left:100px;
    border: 1px;
    padding: 67px 67px 67px 67px;
}
.image5{
    width: 100px;
    height: 100px;
    top: 100px;
    left:100px;
    border: 1px; 
    padding: 67px 67px 67px 67px;   
}
.image6{
    width: 100px;
    height: 100px;
    top: 100px;
    left:100px;
    border: 1px; 
    padding: 67px 67px 67px 67px;
}
.image7{
    width: 100px;
    height: 100px;
    top: 100px;
    left:100px;
    border: 1px; 
    padding: 67px 67px 67px 67px;
}
.image8{
    width: 100px;
    height: 100px;
    top: 100px;
    left:100px;
    border: 1px; 
    padding: 67px 67px 67px 67px;
}
.div1{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.div2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:  3; 
}
.div3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  
}
.div4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.div5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.div6{
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 3 ;
    grid-row-end: 4;
}
.div7{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.div8{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}